@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --primary-color:#bb85ee;
    --primary-color-dark: #7610d4;
    --second-color-dark: #1d0038;
    --primary-color-button: #f0dfff;
    --second-color-button: #e6c2ff;
    --primary-font: 'Pixelify Sans', sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
    font-family: var(--primary-font);
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.paragrafo {
    display: flex;
    gap: 20px
}

input {
    border: 2px dotted var(--second-color-dark);
    width: 200px;
    height: 25px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 18px;
}

li {
    word-wrap: break-word;
}

button {
    background-color: var(--primary-color-button);
    border-radius: 7px;
}

button:hover {
    background-color: var(--second-color-button);
    color: var(--second-color-dark);
}

button:active {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-button);
}

@media screen and (max-width: 680px) {

    .container {
        max-width: 450px;
    }

    .paragrafo {
        justify-content: space-evenly;  
    }
}

@media screen and (max-width: 470px) {

    .container {
        max-width: 350px;
    }

    .paragrafo {
        align-items: center;
    }

    button {
        font-size: 15px;
        padding: 5px 10px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .apagar {
        margin: 0 15px;
    }
} 

@media screen and (max-width: 349px) {

    h1 {
        font-size: 1.5em;
    }

    .container {
        max-width: 280px;
    }

    .paragrafo {
        align-items: center;
    }

    input {
        width: 125px;
        height: 30px;
        padding: 0 5px;
        font-size: 15px;
    }

    button {
        font-size: 15px;
        padding: 5px 5px;
        font-weight: bold;
        text-decoration: none;
    }
}